*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
}

body{
  background-color:#1a1a1a;
}

.container{
  max-width: 1440px;
  height: 2500px auto;
  margin: 0 auto;
  background-color:#ffffff;
}

#logo{
  background:#b02e2e;
  color:#ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size:48px;
  padding:7px 20px;
  margin: 0px 15px 0px 15px;
  left:10px;
  border-bottom-right-radius:50px;
  border-bottom-left-radius:50px;
  transition: 0.2s ease-in-out;
}

#logo:hover{
  background:#be2c2c;
  cursor: pointer;
  transition: 0.2s ease-in;
}

#logo-header{
  background-color:#9c2d2d;
  height:72px;
  max-width: 100%;
  width:1440px;
  margin: 0 auto;
}

#main-logo{
  position:relative;
  margin: 0 auto;
  text-align: center;
}

#main-logo img{
  margin: 8px 0px 0px 0px;
}

#navigation{
  z-index:1001;
  width:1440px;
  max-width: 100%;
  /* background-color:#272831; */
  min-height: 68px;
  margin: 0 auto;
  text-align: center;
}

#navigation ul{
  list-style-type: none;   
  position: relative;
  text-align: center;
  margin: 0 auto;
}

#navigation ul li{
  display: inline-block;
  height:100%;
  position: relative;
  
}

#navigation ul li a{
  margin: 0px 0px 0px 25px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 68px;
  position:relative;
  transition: all 0.1s ease-in-out;
  font-size:14px;
  letter-spacing:0.5px;
  font-weight: bold;
  color:#FFFFFF;
}

#navigation ul li a:hover{
  border-bottom: 3px solid #FFFFFF;
  padding-bottom:8px;
  transition: all 0.1s ease-in-out;
}

#navigation ul li a:visited{
  color:#fff;
}

#navigation ul li a.active{
  border-bottom: 3px solid #FFFFFF;
  padding-bottom:8px;
}

#jumbo-banner{
  height: 300.96px;
  width: 1440px;
  max-width:100%;
  position:relative;
  margin: 0 auto;
  text-align: center;
}

#newest-movies-banner{
  background-image: url("images/jumbo-banner.png");
  width:100%;
  height: inherit;
  position:relative;
}

#banner-arrow{
  position:absolute;
  margin-top:220px;
  margin-left:583px;
  transition: all 0.1s ease-in-out;
}

#banner-arrow:hover{
  cursor: pointer;
  position:absolute;
  margin-left:590px;
  transition: all 0.1s ease-in-out;
}

#main{
  width: 215px;
  max-height:auto;
  display: inline-block;
  vertical-align: top;
  margin-left:3%;
  margin-top:2.5%;
}

#main #search-section #search-field img:not(#searchIcon){
  float:left;
  margin-right:20px;
  width: 18px;
}

#main #search-section #search-field #searchIcon{
  margin-right:20px;
  float:left;
}


#main #search-section #search-field form input{
  clear:both;
  width:160px;
  vertical-align: right;
  display: inline-block;
}

#search-field form input[type=text]{
  background:transparent;
  border:none;
  border-bottom: 3px solid #dfa233;
  width:200px;
  font-size:18px;
  font-family: 'Roboto Condensed', sans-serif;
  padding-bottom:10px;
  outline: none;
  color:#4e4e4e;
  transition: 0.2s ease-in-out;
}

#search-field form input[type=text]:focus{
  transition: 0.2s ease-in-out;
  border-bottom: 3px solid #cc383a;
}

::-webkit-input-placeholder {
  letter-spacing: 1px;
  color:#4e4e4e;
  font-size: 18px;
}
::-moz-placeholder {
  color:#4e4e4e;
  font-size: 18px;
}
:-ms-input-placeholder {
  color:#4e4e4e;
  font-size: 18px;
}
::placeholder {
  color:#4e4e4e;
  font-size: 18px;
}

#movies{
  display: inline-block;
  min-width: 400px;
  width:74%;
  height:auto;
  margin: 67px auto 0px 2%;
}

#movies p, #view-more-btn{
  text-align:left;
}

#search-tag{
  margin-left: 40px;
  margin-bottom:40px;
  margin-top:-23px;
  padding-bottom:28px;
  border-bottom: 1px solid #999999;
  width:94%;

}

#movie-name-preview{
  text-transform: uppercase;
  color:#4e4e4e;
  letter-spacing:1px;
  font-size:26px;
}

#search-tag-bolded{
  font-weight:bold;
}


#search-tag a{
  text-decoration: none;
  color:#999999;
  border:2px solid rgb(221, 220, 220);
  padding:8px 20px;
  box-sizing:border-box;
  position:relative;
  text-transform:uppercase;
  font-size:16px;
  font-weight:700;
  margin-left:2%;
}

i {
  border: solid #999999;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  position:relative;
  left:-5px;
  top:-3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#search-results{
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #999999;
  padding-top: 35px;
  font-size:16px;
  position:relative;
  display: inline-block;
  margin-left:10%;
}

#search-results::before{
  content:"";
  position:absolute;
  margin-left:-37px;
  margin-top:-13px;
  width:2px;
  height:20px;
  background:#e6b863;
}

#search-results::after{
  content:"";
  position:absolute;
  left:-25px;
  top:49px;
  transform:rotate(90deg);
  margin-top:-15px;
  width:1px;
  height:20px;
  background:#c58e27;
}


.movie-block{
  display: inline-block;
  margin: 0px 0px 40px 40px;
  vertical-align: top !important;
}

.movie-cover{
  position:relative;
}

.movie-cover img{
  display:block;
  margin: 0;
  padding: 0;
  position:relative;
  z-index:5;
  transition: all 0.2s ease-in;
  cursor: pointer;
  left: 0px;
  top: 0;
}

.newbox{
  background-color:#0f0f10;
  width:50px;
  height:100%;
  position:absolute;
  left:100px;
  top: 0px;
  transition: all 0.2s ease-in;
}

.movie-cover img:hover ~ .newbox{
  background-color:#0f0f10;
  width:40px;
  height:80%;
  position:absolute;
  left:100px;
  top: 25px;
  transform: rotateY(200deg) translateZ(20px);
}

.movie-cover img:hover ~ .newbox{
  left: 135px;
  transition: all 0.2s ease-in;
}

.movie-cover img:hover{
  left: -5px;
  position:relative;
  opacity:1;
  transition: all 0.2s ease-in-out;
  transform: rotateY(-30deg) translateZ(30px);
}

.movie-name{
  position:relative;
}

.movie-name p{
  padding-top:5px;
  color:#0a0a0a;
  font-size:16px;
}

.movie-name .film-genre{
  text-transform: uppercase;
  font-size:12px;
  font-weight:bold;
  color:#254b8b;
  position:relative;
  margin-top:15px;
  left:17px;
}

.movie-name .film-genre::before{
  content:"";
  position:absolute;
  background-image:url("images/genre-bullet.png");
  width:11px;
  height:11px;
  left:-17px;
}

.movie-name .film-rating{
  text-transform: uppercase;
  font-size:12px;
  font-weight:bold;
  color:#ad3e3e;
  position:relative;
  margin-top:3px;
  left:17px;
}

.movie-name .film-rating::before{
  content:"";
  position:absolute;
  background-image:url("images/ratings-bullet.png");
  width:11px;
  height:11px;
  left:-17px;
}

.movie-name .film-title{
  max-width: 150px;
}

.movie-cover::after{
  content: "";
  cursor: pointer;
  position:absolute;
  background-image: url("images/favorite-btn-inactive.png");
  width:17px;
  height:15px;
  right:0;
  bottom:-30px;
  transition: all .2s ease;
  z-index: 10;  
}

.movie-name p:first-child{
  padding-top:13px;
}

.movie-name p:nth-child(2){
  color:#7c7c7c;
  opacity:0.7;  
  font-weight:bold;
  font-size:12px;
}

.suggestion-box{
  margin-top:20px;
  width:250px;

}

.suggestion-box .suggestion{
  margin-bottom:10px;
  margin-left:8px;
}

.suggestion-box .suggestion p{
  color:#4d4d4d;
  display: inline-block;
  font-size:15px;
  letter-spacing:0.5px;
}

.suggestion-box .suggestion p:hover{
  cursor: pointer;
  color:#cc383a;
}

#movies p:first-child{
  font-size:14px;
}

#footer{
  background:#272731;
  box-sizing:inherit;
  display: block;
  max-width: 100%;
  width:1440px;
  margin: 0 auto;
  height:170px;
}

#footer nav{
  margin:0 auto;
  text-align: center;
  padding-top:64px;
}

#footer nav ul{
  padding-left:0;
}

#footer nav ul li{
  display: inline;
  margin-right: 0.6rem;
  color:#f8f8f8;
}

#footer nav ul li a{
  text-decoration: none;
}

#footer nav ul li:nth-child(3){
  display:block;
  padding-top:20px;
}

#footer nav ul li a:link{
  color:#f8f8f8;
}

#footer nav ul li .websiteCredit:hover{
  color:#5c77f3;
}

#footer nav ul li a:visited{
  color:inherit;
}

/* Media Queries start */

@media only screen and (max-width: 1314px) {
  #jumbo-banner{
    display: none;
  }
  
  #newest-movies-banner{
    display: none;
  }

  #movies{
    margin: 50px auto;
    text-align: center;
  }

  #movie-name-preview{
    text-align:left;
  }

  .suggestion-box .suggestion img{
    display: none;
  }

  .suggestion-box{
    margin-top:10px;
    width:700px;
    margin: 0 auto;
    text-align: center;
  }

  .suggestion-box .suggestion {
    color:#4e4e4e;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
  }

  .suggestion-box .suggestion p{
    text-indent:30px;
    margin-top:10%;
  }

  #main{
    width: 97.5%;
    
  }

  #main #search-section #search-field{
    margin: 35px 0px 0px 0px; 
    width: auto;
  } 

  #movies{
    width:auto;
    

  }

  .suggestion-box{
    margin-top:20px;
    width:auto;
  }

  #banner-arrow{
    display: none;
  }

  #search-tag a{
    margin-left:44%;
    position:relative;
  }
}

@media only screen and (max-width: 480px) {

  #search-tag a{
    margin-left:39%;
    position:relative;
    top:12px;
    display: inline-block;
    margin-top:10px;
  }

  #search-tag{
    margin-left: 40px;
    margin-bottom:40px;
    margin-top:-23px;
    padding-bottom:28px;
    border-bottom: none;
    width:auto;
  
  }
  .movie-block{
    margin: 0px 0px 40px 20px !important;
  }

}

@media only screen and (max-width: 425px) {
  #movies{
    display: inline-block;
    min-width: auto;
    width:100%;
    height:auto;
    margin: 67px auto 0px 0%;
  }
  .movie-block{
    display: block;
    
    text-align: center;
    width:170px;
    margin: 0px 0px 40px 20px !important;
  }

  .suggestion-box{
    margin-left:-9%;
    position:relative;
    left:-10px;
  }

}

@media only screen and (max-width: 768px){

.suggestion-box{
  margin-left:-7%;
}

.suggestion-box .suggestion{
  margin-bottom:10px;
  margin-left:8px;
}

.suggestion-box .suggestion p{
  color:#4d4d4d;
  display: inline-block;
  font-size:15px;
  letter-spacing:0.5px;
}

.suggestion-box .suggestion p:hover{
  cursor: pointer;
  color:#cc383a;
}

#search-tag a{
  top:10px;
}
}